[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
prospector = "*"

[packages]
django = "*"
prospector = "*"
psycopg2 = "*"
django-registration-redux = "*"
pillow = "*"
django-heroku = "*"
gunicorn = "*"

[requires]
python_version = "3.7"
