{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block title %}{% trans "Log in" %}{% endblock %}

{% block content %}
<div class="loginbody">
<form method="post" action="" class="loginform">
        {% csrf_token %}
        <div>
            <div class="login-row">
                <span>
                    <i class="fas fa-user"></i> 
                    {{ form.username.label_tag }}
                </span>
                <span class="noborder">
                    {{ form.username }}
                </span>
            </div>
            <div class="login-row">
                <span>
                    <i class="fas fa-lock-alt"></i>
                    {{ form.password.label_tag }}
                </span>
                <span class="noborder">
                    {{ form.password }}
                </span>
            </div>
        </div> 
        <div class="needscenter">
        <button class="tracker-button" type="submit" value="{% trans 'Log in' %}">Login</button>
        </div>  
        <input type="hidden" name="next" value="{{ next }}" />
    </form>
<div class="needscenter">
    <p>{% trans "Forgot password?" %} <a href="{% url 'auth_password_reset' %}">{% trans "Reset it" %}</a>.</p>
    <p>{% trans "Not a member?" %} <a href="/accounts/register/">{% trans "Register" %}</a>.</p>
</div>
</div>
    
{% endblock %}