{% extends "base.html" %}

{% block content %}

<p class="needsleft">Please enter the email address on your account to have a password reset link sent to you.</p>
    <form action="" method="post">
    {% csrf_token %}
    {% if form.email.errors %}
        {{ form.email.errors }}
    {% endif %}
    <div>
        <div class="login-row">
            <span>
                <i class="fal fa-envelope"></i> 
                {{ form.email.label_tag }}
            </span>
            <span class="noborder">
                {{ form.email }}
            </span>
        </div>
    </div>
        <button type="submit" class="tracker-button">Reset Password</button>
    </form>
    <div class="needscenter done">
        <a href="{% url 'index' %}">
            <button class="cancel button2"> 
                Cancel
            </button>
        </a>  
    </div>
{% endblock %}