{% extends "base.html" %}

{% block content %}

<h3>Associated Tracker: <a href="{{answer.question.tracker.get_absolute_url}}">{{answer.question.tracker}}</a></h3>
<h3>Associated Queston: <a href="{{answer.question.get_absolute_url}}">{{answer.question.description}}</a></h3>
<h3>Answer: {{answer.name}}</h3>
        
<form method="post">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Edit Answer">
</form> 

<a href="{% url 'answer-detail' user.pk %}">
            <button type='submit'>Edit Answer</button>
        </a>
{% endblock %}
