{% extends "base.html" %}

{% block content %}
<h2 class="darkteal">Answer Details</h2>
<div class="needsleft">
    <h3 class="darkteal"><a href="{{answer.question.tracker.get_absolute_url}}">{{answer.question.tracker}}</a></h3>
    <div class="formline purple">
        {{answer.question.current_question}}
    </div>
    <div class="marginbottom">Current Answer: {{answer.current_answer}}</div>
    <div class="needscenter done margintop5">
        <a href="{% url 'edit-answer' answer.pk %}">
            <button class="add-tracker">
                Edit Answer
            </button>
        </a>
    </div>
    <div class="needscenter done">
        <a href="{% url 'question-detail' answer.question.pk %}">
            <button class="cancel button2"> 
                Cancel
            </button>
        </a>  
    </div>
</div>

{% endblock %}