{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- Aaron's version: -->
<!-- <p> chinh is awesome!</p>

 {% comment %} <form class="font" id="edit_profile" method='POST' action="{% url 'edit_profile.html' %}">
    {% csrf_token %}
    <table class="mb2">
      {{ form }}
    </table>
    <input id="edit_profile" type="submit" class="snippet-field font dim button-snippet"></input>
  </form> {% endcomment %} -->

<!-- Chinh's version: -->
<h3>Add a new post</h3>

<form action="" method="post">
    {% csrf_token %}
    <table>
        {{ form.as_table }}
    </table>
    <input type="submit" value="Submit"/>
</form>
{% endblock %}