{% extends 'base.html' %}
{% load static %}


{% block content %}

{% if request.user.is_authenticated%}


    
<br>
<h3>Available Trackers</h3>
<a href="{% url 'tracker-create' %}">
    <button class="add-member" type="submit">
        Monitor Me
    </button>
</a>  
    {% if trackers %}
        {% for tracker in trackers %}
            <div>
                <div class="tracker"><a href="{% url 'tracker-detail' tracker.pk %}">{{tracker}} - </a><span><a href="{% url 'trackerinstance_create' tracker.pk %}"><button class="surveybutton">Start</button></a></span></div>
            </div>
        {% endfor %}
    {%endif%}
<br>
<h3>Pending Trackers</h3>
<h4 class="smalltext purple">Tracker Name <span class="addprofile smalltext">(Start Date)</span></h4>
{% if pending %}
        {% for tracker in pending%}
            <div>
                <div class="tracker">{{tracker}} <span class="addprofile smalltext">({{tracker.start}})</span></div>
            </div>
        {% endfor %}
    {%endif%}
<br>
<h3>Closed Trackers</h3>
<h4 class="smalltext purple">Tracker Name <span class="addprofile smalltext">(Completed Date)</span></h4>
{% if completed  %}
        {% for tracker in completed %}
            <div>
                <div class="tracker">{{tracker}} <span class="addprofile smalltext">({{tracker.end}})</span> </div>
            </div>
        {% endfor %}
    {%endif%}
<br>

{% endif %}

{% endblock %}
