{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- <p> aaron sucks</p> -->

<!-- Chinh added 4/19/2019 -->
<h1>Your Dashboard</h1>
<h4>Below are Groups you've created:</h4>
<h4 class="">   
    {% if namegroups %}
        {% for group in namegroups %}
            <h4 class=""><a href="{{ group.get_absolute_url }}">{{ group.name }}</a></h4>
        {% endfor %}
    {% else %}
        <p class="">You have not created any Groups</p>
    {% endif %}
</h4> 
<h4>Below are Trackers assigned to you:</h4>
<h4 class="">   
    {% if trackergroups %}
        {% for tracker in trackergroups %}
            <h4 class=""><a href="{{ tracker.get_absolute_url }}">{{ tracker.name }}</a></h4>
        {% endfor %}
    {% else %}
        <p class="">You have no Trackers assigned to you</p>
    {% endif %}
</h4>
<h4><a href="{% url 'tracker_create' %}">| Add Tracker + |</a></h4>

{% endblock %}

