{% extends 'base_generic.html' %}
{% load static %}


{% block content %}

<!-- Leaving due to will be adding group back after demo day KTiller 4.24.2019-->
    <!-- <h3>Your Group</h3>
    {% if user_list %}
        {% for group in request.user.groups.all %}
            <a href=""><div>{{group.name}}</div></a>
        {% endfor %}
    {% endif %} -->

{% if request.user.is_family_admin == True %}
    <h3>Your Group Members</h3>
    <h4 class="smalltext purple">Select to open User Detail Page</h4>
        {% for user in user_list %}
            <div class="member">
                <a href="{% url 'user-detail' user.pk %}">
                    {% if user.name == '' %}{{user.username}}{% else %}{{user.name}}{% endif %}</a>
            </div>
        {% endfor %}
{% endif %}
    
<br>
<h3>Available Trackers</h3>
<h4 class="smalltext purple">Select to Start Tracker</h4>
<!-- <a href="{% url 'tracker-create' %}">
    <button class='add-member' type='submit'>
        Add Tracker 
    </button>
</a>   -->
    {% if trackers %}
        {% for tracker in trackers %}
            <div>
                <div class="tracker">
                    <a href="{% url 'trackerinstance_create' tracker.pk %}">
                        Start {{tracker}}
                    </a>
                </div>
            </div>
        {% endfor %}
    {%endif%}
<br>
<h3>Pending Trackers</h3>
<h4 class="smalltext purple">Tracker Name <span class="addprofile smalltext">(Start Date)</span></h4>
{% if pending %}
        {% for tracker in pending%}
            <div>
                <div class="tracker">{{tracker}} <span class="addprofile smalltext">({{tracker.start}})</span></div>
            </div>
        {% endfor %}
    {%endif%}
<br>
<h3>Closed Trackers</h3>
<h4 class="smalltext purple">Tracker Name <span class="addprofile smalltext">(Completed Date)</span></h4>
{% if completed  %}
        {% for tracker in completed %}
            <div>
                <div class="tracker">{{tracker}} <span class="addprofile smalltext">({{tracker.end}})</span> </div>
            </div>
        {% endfor %}
    {%endif%}
<br>

{% endblock %}
