{% extends 'base.html' %}
{% load static %}
<script src="script.js"></script>

{% block content %}
<h3>By registering for and using the Monitor-Me website and/or mobile application, you are deemed to have read and agreed to the following terms and conditions:</h3>

<p>The following terminology applies to these Terms and Conditions, Privacy Statement and Confidentiality Notice and any or all Agreements: "Client", "You", and "Your" refers to you, and anyone added to your "group" who is accessing this website and accepting Monitor-Me's terms and conditions. Group members will be considered accepting of terms and conditions under the umbrella of the group administrator when group is created. "Monitor-Me", "Ourselves", "We" and "Us" refers to the creators and operators of Monitor-Me. Any use of the above terminology or other words in the singular, plural, capitalization and/or he/she or they, are taken as interchangeable and therefore as referring to same. 

<h3>Privacy Statement</h3>
<p>We are committed to protecting your privacy. Authorized developers and maintainers of Monitor-Me will only access user data if and when it pertains to fixing user reported "bugs" or any other factors affecting optimal useability of the Monitor-Me site. We constantly review our systems and data to ensure the best possible service to our customers. Any unauthorized actions against our computer systems or data can and may result in legal action with a view towards prosecuting and/or civil proceedings to recover any damages caused by those responsible. The rights to all text, images, and other materials on this site are owned by Monitor-Me's creators and protected by Copyright as per license. 

<h3>Confidentiality</h3>
<p>We will not sell, share, or rent your personal information to any third party or use your e-mail address for unsolicited mail. Any emails sent by Monitor-Me will only be in connection with the agreed upon services.


<button onclick="myFunction()">submit</button>

<script>
function myFunction() {
  location.replace("/accounts/register/")
}
</script>







{% endblock content %}