{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="landing">

        <div class="hello-message">Hello {% if request.user.name %}{{request.user.name}}{% else %}{{request.user.username}}{% endif %}!</div>
        <br>
        <div class="landing-description">
            <p>To find what you need, simply click the button! Your profile page is of course your profile, whereas your dashboard page is a summary of your trackers! Use references for examples and more information about the site.
            </p>
        </div>
        <br>
        <a href="{% url 'user_profile' user.username %} "><button class="button button2">Profile</button></a>
        <br>
        {% if request.user.group.0 != '' and request.user.is_family_admin == True %}
            <a href="{% url 'dashboard_detail' %}"><button class="button button2">Dashboard</button></a>
        {% else %}
            <a href="{% url 'user-detail' request.user.pk %}"><button class="button button2">Dashboard</button></a>
        {% endif %}
        <br>
        <a href="{% url 'references' %}"><button class="button button2">References</button></a>
        <br>
        <button onclick="location.href = '/calendar';" class="button button2">Calendar</button>
</div>        
{% endblock %}
