{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="landing">

        <div class="hello-message">Hello {% if request.user.name %}{{request.user.name}}{% else %}{{request.user.username}}{% endif %}!</div>
        <br>
        <div class="landing-description">
            <p>To find what you need, simply click the button! Your profile page is of course your profile, whereas your dashboard page is a summary of your trackers! Use references for examples and more information about the site.
            </p>
        </div>
        <br>
        <button onclick="location.href = '/profile/{{user.username}}';" class="button button2">Profile</button>
        <br>
        <button onclick="location.href = '/dashboard_detail';" class="button button2">Dashboard</button>
        <br>
        <button class="button button2">References</button>
        <br>
        <button onclick="location.href = '/calendar';" class="button button2">Calendar</button>
</div>        
{% endblock %}
