{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="landing">

        <div>Hello {% if user.name %}{{user.name}}{% else %}{{user.username}}{% endif %}!</div>
        <br>
        <p>To find what you need, simply click the button! Your profile page is of course your profile, whereas your dashboard page is a summary of your trackers! Use references for examples and more information about the site.</p>
        <br>
        <button class="button button2">Profile</button>
        <br>
        <button class="button button2">Dashboard</button>
        <br>
        <button class="button button2">References</button>
        <br>
        <button class="button button2">Calendar</button>
</div>        
{% endblock %}