{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="landing">
        <tr>
            <td>Hello </td>
            <td>{{ user.name }}!</td>
        <br></tr>
        <br>
        <tr>
            <td>To find what you need, simply scroll then click the button. Thanks!</td>
        <br></tr>
        <br>
        <button class="button button2">Profile</button>
        <br>
        <button class="button button2">Dashboard</button>
        <br>
        <button class="button button2">References</button>
        <br>
        <button class="button button2">Calendar</button>
</div>        
{% endblock %}