{% extends "base.html" %}

{% block content %}
<h2 class="darkteal">Question Details</h2>
<div class="needsleft">

    <h3 class="darkteal">{{question.tracker}}
        <br>
        <span class="medfont helptext">Select answer to edit</span>
    </h3>
    <div class="formline darkteal">
       {{question.current_question}}
    </div>


    {% for answer in question.answers.all %}
        <div class="marginbottom margin15">
            <a href="{{answer.get_absolute_url}}"><span class="black">Answer: </span>{{answer}}</a>
        </div>
    {% endfor %}

    <div class="needscenter">
        <form method="post" action="">
            {% csrf_token %}
            <div class="login-row">
                <span class="formline purple">{{ form.answer_name.label_tag}}</span>
                <span>{{ form.answer_name }}</span>
            </div>
            <div class="needscenter">
                <button class="button button2" type="Submit">
                    Save New Answer
                </button>
            </div>
        </form>
    </div>
    <div class="needscenter done">
        <a href="{% url 'edit-question' question.pk %}">
            <button class="add-tracker button2"> 
                Edit Question
            </button>
        </a>  
    </div>
    <div class="needscenter done">
        <a href="{% url 'tracker-all-detail' question.tracker.pk %}">
            <button class="cancel button2"> 
                Cancel
            </button>
        </a>  
    </div>
</div>

{% endblock %} 

{% comment %}
    <a href="">
        <button class="add-tracker">Create Answers</button>
    </a>
{% endcomment %}

