{% extends "base.html" %}

{% block content %}

<div class="needsleft">

<h3 class="darkteal">{{question.tracker}}
    <br>
    <span class="medfont purple">Select answer to edit</span>
</h3>
<div class="formline">
    {{question.current_question}}
</div>


{% for answer in question.answer_set.all %}
    <div class="marginbottom margin15">
        <a href="{{answer.get_absolute_url}}">Answer: {{answer}}</a>
    </div>
{% endfor %}

    <div class="needscenter">
        <a href="">
            <button class="add-tracker">Create Answers</button>
        </a>
    </div>
    <div class="needscenter done">
        <a href="{% url 'tracker-detail' question.tracker.pk %}">
            <button class="tracker-button button2"> 
                Done
            </button>
        </a>  
    </div>
</div>

{% endblock %} 
