{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="landing">

        <div class="hello-message">Hello {% if request.user.name %}{{request.user.name}}{% else %}{{request.user.username}}{% endif %}!</div>
        <br>
        <div class="landing-description">
            <p>These are some quick links to where you might need to go in the system!</p> 
        </div>
            <a href="/tracker/create">
                <button class="add-tracker">
                Monitor Me
                </button>
            </a>
        <br>
            {% if trackers %}
                {% for tracker in trackers %}
            <a href="{% url 'trackerinstance_create' tracker.pk %}">                    
            <button class="tracker-button">Start {{tracker}}</button>
                </a>
                <br>
                {% endfor %}
            {% endif %}
            
        
</div>        
{% endblock %}
