{% extends 'base_generic.html' %}
{% load static %}

{% block content %}
<div class="darkteal">

        <div class="needscenter hello-message">
            Hello {% if request.user.name %}{{request.user.name}}{% else %}{{request.user.username}}{% endif %}!
        </div>
        <br>
            <p style="margin-top: 5px;" class="needscenter">
                Create a tracker or start a response!
            </p>
        <div class="needscenter">
            {% if trackers %}
            {% for tracker in trackers %}
            <a href="{% url 'trackerinstance_create' tracker.pk %}">
                <button class="tracker-button button2">
                    Start {{tracker}}
                </button>
            </a>
            <br>
            <a href="/tracker/create">
                <button class="add-tracker">Add Tracker</button>
            </a>
            <br>
        </div>
        {% endfor %}
        {% endif %}
            
        
</div>        
{% endblock %}
