{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="us"><p><br> MonitorMe is a customizable health diary app that was created for a quicker, neater way to keep track of loved ones, or your own health issues.</p></div> 

<div class="question darkteal"><p class="needsleft"><b> Some common questions about the app are:</b></p></div>
 
<div class="left"><details>
<summary> What was your inspiration behind this application?</summary>
<div class="answer"><p>It was designed around a case study of a parent with a child that suffers from chronic migraines due to photophobia. The two were struggling with being able to keep up with a headache diary due to obstacles of everyday life. This application is meant to be a solution to that problem.</p></div>
</details>
<details>
<summary>How do I create a list of questions to monitor me?</summary>
<div class="answer">Select the <span class="medteal">MonitorMe</span> button on any page to get started. Then enter your first question and the answers you want available to the question. We provide 3 places for answers to start, but you can add more answers by selecting the question on the next page.</div>
</details> 
<details>
<summary>How do I add more questions to a tracker that has already been created?</summary>
<div class="answer"><p> Simply click the <span class="medteal"><i class="far fa-file-chart-line"></i></span> icon in the menu bar at the top. You will then see a chart with each tracker. Select the title for the particular tracker you want to add to and from there you have the option to add more questions and answers!</p></div>
</details>  
<details>
<summary> How do I add more answers to question?</summary>
<div class="answer"><p>When initially creating a list of questions, simply click on the question and you will be redirected to a page to add more answers!</p></div>
</details>
<br>
<a href="{% url 'about-us' %}">Click here to learn our story and meet the team!<a>




{% endblock %}