{% extends 'base.html' %}
{% load static %}

{% block content %}
{% if user_info %}
    <h2>Members</h2>
    {% for user in user_info %}
    <h3>{{user}}</h3>
        {% if user.trackergroup_set.all %}
            {% for tracker in user.trackergroup_set.all %}
            <h4 style="margin-left: 1rem;">{{tracker}}</h4>
                {% if tracker.questions.all %}
                    {% for question in questions %}
                        <div style="margin-left: 2rem;">{{question.order}}). {{question}}</div>
                        {% if question.answer_set.all %}
                         {% for answer in question.answer_set.all %}
                            <div style="margin-left: 3rem;">{{answer}}</div>
                        {% endfor %}
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endfor %}
{% endif %}

{% endblock %}