{% extends "base.html" %}

{% block content %}
<div class="needsleft">
<h3>Delete Response</h3>

<p class="needsleft">Are you sure you want to delete this answer from {{response.tracker_instance}}?</p>

<form action="" method="POST" style="font-family: 'Quicksand'">
    {% csrf_token %}
    <div class="needscenter">
        <button type="submit" class="tracker-button button2"> 
            Submit
        </button>
    </div>
</form>
<div class="needscenter done">
    <a href="{% url 'user-detail' request.user.pk %}">
        <button class="cancel button2"> 
            Cancel
        </button>
    </a>  
</div>
</div>

{% endblock %}