{% extends 'base_generic.html' %}

{% block content %}

<h3>Create your tracker here:</h3>

<form method="post" action="">
    {% csrf_token %}
    {{ form.as_p }}
    <button class="button button2" type='Submit'>Save Tracker</button>
</form>

<h3>Most recent tracker created:</h3> 
<p><a href="{{tracker.get_absolute_url}}">{{ tracker.name }}</a></p>
<P>Available To: {{tracker.display_available_to}}</p>
{% for question in tracker.questions.all %}
    <div>
        
        <p>
            Question {{question.order}})  
            <a href="{{question.get_absolute_url}}">{{question}}</a>
        </p>
    </div>

    {% for answer in question.answer_set.all %}
        <div style="margin-left: 25px;">
            {{answer}} 
        </div>
    {% endfor %}

{% endfor %}

{% endblock %}

{% comment %}
    {{ tracker_form.as_p }}
    {{ question_form.as_p }}
    {{ answer_form.as_p }}
    <a href="{% url 'answer-create' %}"><button class="surveybutton">Add Answer</button></a>
    <a href="{% url 'question-create' %}"><button class="surveybutton">Add Question</button></a></p>
{% endcomment %}