{% extends "base.html" %}
{% load core_tags %}

{% block content %}
{% if trackergroupinstance.created_by == request.user %}
<div class="needsleft">
    <h3 class="bold">{{trackergroupinstance.tracker.name}}</h3>

    <div class="marginbottom">Started at: <span class="medgray">{{trackergroupinstance.started_at}}</span></div>

{% if trackergroupinstance.response_set.all %}
    {% for response in trackergroupinstance.response_set.all %}
        <div class="darkpurple">
        {{response.question.current_question}}
        </div>
        <div class="marginbottom">
            {% if response.answers.all %}
                {% for answer in response.answers.all %}
                <div class="margintop5 margin15">
                    <span class="medteal">Response: </span>{{answer.current_answer}} 
                    <span class="trash purple">
                        <a href="{% url 'response_detail_delete' response.pk %}">
                        <i class="far fa-trash-alt"></i>
                        </a>
                    </span>
                </div>
                {% endfor %}
            {% endif %}
        </div>
    {% endfor %}
{% else %}
       <p class="needsleft darkpurple">No answers have been submitted.</p> 
{% endif %}

    <h3 class="darkpurple">Questions</h3>

    {% if trackergroupinstance.tracker.questions.all %}

        {% for question in trackergroupinstance.tracker.questions.all %}
        <div>
            <div class="tracker margintop10"> 
                <div class="marginbottom">
                {{question}}
                </div>
                {% for answer in question.answers.all %}
                    {% if answer.current_answer %}
                    
                        <div class="margin15">
                            <form method="post" action="{% url 'response_create' question_pk=question.pk answer_pk=answer.pk %}">
                                {% csrf_token %}
                                {% if answer|been_clicked:trackergroupinstance.pk %}
                                <button class="add-tracker button2" type="Submit">{{answer}}</button>
                                {% else %}
                                <button class="cancel button2" type="Submit">{{answer}}</button>
                                {% endif %}
                            </form>
                        </div>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </div>
    </div>
{% endif %}

    <div class="needscenter done">
        <a href="{% url 'index' %}">
            <button class="button button2"> 
                Done
            </button>
        </a>  
    </div>

</div>
{% endif %}
    
{% endblock %}

{% comment %}
    <!-- <div class="needscenter done">
        <a href="{% url 'index' %}">
            <button class="add-tracker"> 
                Done
            </button>
        </a>  
    </div> -->
    <!-- <a href="{% url 'response_create' question_pk=question.pk %}">
        {{answer}} 
    </a> -->
                            
     
    <!-- <div class="margin15">
        <form method="post" action="{% url 'response_create' question_pk=question.pk %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="button button2" type='Submit'>Submit</button>
        </form>
    </div> -->

{% endcomment %}