{% extends "base.html" %}

{% block content %}
<div class="needsleft">
<h3 class="bold">{{trackergroupinstance.tracker.name}}</h3>

<div>Started at: <span class="medgray">{{trackergroupinstance.started_at}}</span></div>

<h3 class="darkpurple">Questions</h3>
    {% if trackergroupinstance.tracker.questions.all %}
        {% for question in trackergroupinstance.tracker.questions.all %}
        <div>
            <div class="tracker"> 
                {{question}}
                {% for answer in question.answers.all %}
                    <div class="margin15">
                        <a href="{% url 'response_create' question_pk=question.pk %}">
                        {{answer}} 
                        </a>
                    </div>
                {% endfor %} 
            </div>
        </div>
        {% endfor %}
    {%endif%}

</div>
    
{% endblock %}

        <!-- {% for question in trackergroupinstance.tracker.questions.all %}
            {% if trackergroupinstance.created_by.groups.all %}
                {% for group in trackergroupinstance.created_by.groups.all %}
                    <div>
                        <div class="tracker">{{question}} for {{group}}<span><a href="{% url 'response_create' question_pk=question.pk group_pk=group.pk %}"><button class="surveybutton">Add Response</button></a></span></div>
                    </div>
                {% endfor %}
            {%endif%}
        {% endfor %} -->