{% extends 'base.html' %}
{% load static %}
<script src="script.js"></script>



{% block content %}
<div class="welcome">
    {% if user.is_authenticated %}
        <p>Welcome to your profile page!</p>
        
</div>    
    <div class="user_info">

        <div>User Name: <span>{{ user.username }}</span></div>

        <div>Name: <span>{{ user.name }}</span></div>

        <div>Group: <span>{{ user.group }}</span></div>

        <div>Email: <span>{{ user.email }}</span></div>

        <!-- <a href="{% url 'create_group' %}">Create Group</a> -->

        <a href="{% url 'group_form' %}">Create Group</a>
            <!-- Chinh added ^^^ to test class-based views -->
    </div>
    {% endif %}

{% endblock %}