{% extends 'base.html' %}
{% load static %}

{% block content %}


<p>Welcome {% if request.user.name %}{{request.user.name}}{% else %}{{request.user.username}}{% endif %} to your personal dashboard!</p>


<h3>Available Trackers</h3>
    <a href="{% url 'tracker-create' %}">
        <button class="add-member" type="submit">
            Add Tracker
        </button>
    </a>  

{% if trackers %}
{% for tracker in trackers %}
    <div>{{tracker}} - <span><a href="{% url 'trackerinstance_create' tracker.pk %}"><button class="surveybutton">Start</button></a></span></div>
{% endfor %}
{% endif %}

<br>
<h3>Pending Trackers</h3>

<br>
<h3>Closed Trackers</h3>




{% endblock content %}
