{% extends 'base.html' %}
{% load static %}

{% block content %}


<p>Welcome {% if request.user.name %}{{request.user.name}}{% else %}{{request.user.username}}{% endif %} to your personal dashboard!</p>


<h3>Available Trackers</h3>
    <a href="">
     <a href="/tracker/create"><button class="add-tracker">Add Tracker</button></a>
        </button>
    </a>  

{% if trackers %}
{% for tracker in trackers %}
    <div>{{tracker}} - <span><button class="surveybutton"><a href="{% url 'trackerinstance_create' tracker.pk %}">Start</a></button></span></div>
{% endfor %}
{% endif %}

<br>
<h3>Pending Trackers</h3>

<br>
<h3>Closed Trackers</h3>




{% endblock content %}
