{% load static %}
{% load core_tags %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}MonitorMe{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Raleway|Noto Sans" rel="stylesheet">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-Bx4pytHkyTDy3aJKjGkGoHPt3tvv6zlwwjc3iqN7ktaiEMLDPqLSZYts2OjKcBx1" crossorigin="anonymous">
    <script src="{% static 'js/script.js' %}"></script>
    {% block meta %}{% endblock %}
</head>

<body>
<div class="base-body">
        <a class="head-link" href="{% url 'index' %}"><header class="base-header"></header></a>
                {% if request.user.is_authenticated %}
                <div class="navbarcontainer">
                    <div class="needscenter box">
                        <a href="{% url 'index' %}">
                            <i class="far fa-home-lg-alt"></i>
                        </a>
                    </div>
                    <div class="needscenter box">
                        <a href="{% url 'user-detail' request.user.pk %}">
                            <i class="far fa-file-chart-line"></i>
                        </a>
                    </div>
                    <div class="needscenter box">
                        <a href="{% url 'references' %}">
                            <i class="fal fa-glasses"></i>
                        </a>
                    </div>
                    <div class="needscenter box">
                        <a href="{% url 'user_profile' user.username %}">
                            <i class="far fa-user-cog"></i>
                        </a>
                    </div>
                    <div class="needscenter box">
                        <a href="{% url 'auth_logout' %}">
                            <i class="far fa-sign-out"></i>
                        </a>
                    </div>
                </div>
                {% else %}
                    
                {% endif %}
        </div>
    <div>
        {% block content %}
        {% endblock %}
</div>

</body>

</html>