{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css">
    <script src="main.js"></script>
</head>
<body>
{% block content %}
<h1 class="title">MonitorMe!</h1>
            {% if user.is_authenticated %}
                <div class="username"><h4><a href="{% url 'user_profile' user.username %}">{{ user.get_username }}</a> | 
                <a href="{% url 'auth_logout' %}">Logout</a></h4></div>

            {% else %}
                <div class="login"><h4><a href="{% url 'auth_login' %}">Login</a> |
                <a href="{% url 'registration_register' %}">Register</a></h4></div>
            {% endif %}
{% endblock %}
</body>
</html>