{% extends "base.html" %}
{% load static %}


{% block content %}

<div class="blurb">
<h1 class="welcome"></h1>
<p>
<h3>MonitorMe is a customizable health diary app that was created for a quicker, neater way to keep track of a loved ones, or your own health issues.</div> 
</p> <br>  <p> Need an account?</p>
<a href="/accounts/register/"><button class="add-tracker">Register</button></a>
<p> Already have an account?</p>
<a href="{% url 'auth_login' %}"><button class="add-tracker">Login</button></a> <br>

<img src = "static/css/Children's_pain_scale.JPG" alt="pain_chart"<br>
<p> Have you ever had to fill out one of these less than specific charts when trying to keep up with a health issue? You're not alone, which is why MonitorMe is here for you.
</div>




{% endblock content %}

