{% extends "base.html" %}
{% load static %}
{% block content %}


{% if request.user.is_authenticated %}
<div class="landing">

        <div class="hello-message">Hello {% if request.user.name %}{{request.user.name}}{% else %}{{request.user.username}}{% endif %}!</div>
        <div class="landing-description">
            <p class="needsleft landingmessage">These are your available trackers. To start just select one and enter your information.</p> 
        </div>

            {% if trackers %}
                {% for tracker in trackers %}
            <a href="{% url 'trackerinstance_create' tracker.pk %}">                    
            <button class="tracker-button">{{tracker}}</button>
                </a>
                <br>
                {% endfor %}
            {% endif %}

            <a href="/tracker/create">
                <button class="add-tracker">Monitor Me</button>
            </a>
            
        
</div> 
{% else %}
<div class="blurb">
    <p> Have you ever had to fill out one of these less than specific charts when trying to keep up with a health issue?</p>

    <img class="painchart" src="static/css/Children's_pain_scale.JPG" alt="pain_chart">
   
    <p>You're not alone, which is why MonitorMe is here for you.</p>
</div> 
<br>
<a href="{% url 'auth_login' %}">
        <button class="tracker-button">Login</button>
    </a> 
<a href="/accounts/register/">
    <button class="add-tracker">Register</button>
</a>
<br>

{% endif %}

{% endblock content %}

