{% extends "base.html" %}
{% load static %}
{% load core_tags %}
{% block content %}


{% if request.user.is_authenticated %}
<div class="landing needscenter">
        <div class="hello-message">Hello {% if request.user.name %}{{request.user.name}}{% else %}{{request.user.username}}{% endif %}!</div>
        <div class="needscenter">
            {% if trackers %}
            <div class="landing-description">
            <p class="needsleft landingmessage">These are your available trackers. To start just select one and enter your information.</p> 
            </div>
                {% for tracker in trackers %}
                    {% if tracker.user == request.user %}
                    <form action="{% url 'trackerinstance_create' tracker.pk %}" method="post">
                        {% csrf_token %}
                        <button class="tracker-button">{{tracker}}</button>
                    </form>
                    {% endif %}
                {% endfor %}
            {% endif %}    
        </div>
        <div class="needscenter margintop">
            <a href="{% url 'tracker-create' %}">
                <button class="add-tracker">Monitor Me</button>
            </a>
        </div>
        <div class="margintop10">
            <details class="needsleft">
            <summary class="needscenter">If you are a first time user, click here</summary>
            Click the green MonitorMe button to create your first tracker. This will allow you to name a tracker, and create questions and answers customized to your needs.
            <br>
            <p>You can also refer to our <span class="medteal"><a href="{% url 'references' %}"><i class="fal fa-glasses"></i></a></span> page to see examples and other points of reference.</p>
            </details>
        </div>
</div> 
{% else %}

<div class="blurb">
<div>
    <p> Have you ever had to fill out one of these less than specific charts when trying to keep up with a health issue?</p>

    <img class="painchart" src="static/css/Children's_pain_scale.JPG" alt="pain_chart">
   
    <p>You're not alone, which is why <a href="{% url 'about-us' %}" class="purple">MonitorMe</a> is here for you.</p>
</div> 
<div class="needscenter margintop">
<a href="{% url 'auth_login' %}">
    <button class="tracker-button">Login</button>
</a> 
<a href="/accounts/register/">
    <button class="add-tracker">Register</button>
</a>
</div>
</div>

{% endif %}

{% endblock %}

