{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<div class="welcome">
    {% if user.is_authenticated %}
        <h3>{{ user.username.upper }}</h3>
        <p>Welcome to your profile page!</p>
    
    <div class="welcome ma3">
        <tr class="ma2">
            <td class="ma2">UserName: </td>
            <td class="ma2">{{ user.username }}</td>
        </tr>
        <tr class="welcome ma2">
            <td class="ma2">Email: </td>
            <td class="ma2">{{ user.email }}</td>
        </tr>   
            <td class="ma2">First Name: </td>
            <td class="ma2">{% if user.first_name %}{{ user.first_name }}{% else %}<span class="light-silver">(nothing entered)</span> {% endif %}</td>
        </tr>
        <tr class="ma2">
            <td class="ma2">Last Name: </td>
            <td class="ma2">{% if user.last_name %}{{ user.last_name }}{% else %}<span class="light-silver">(nothing entered)</span> {% endif %}</td>
        </tr>
        <tr class="ma2">
            <td class="ma2"> State: </td>
            <td class="ma2">{%  %}
        </tr>
        <tr class="ma2">
            <td class="ma2"> Phone number: </td>
            <td class="ma2">{% %}
        </tr>
        
    </div>
    {% endif %}

{% endblock %}