html {
    background:
        linear-gradient(rgba(132, 153, 155, 0.50));
    font-family: 'Raleway';
    text-align: center;
}

h3 {
    margin-bottom: .75rem;
}

h4.smalltext {
    font-size: .85rem;
    margin-top: 0px;
}

a {
    text-decoration: none;
    color: #0A5E5F;
}

 li {
    list-style: none;
}

span {
    margin-bottom: 5px;
}

.index-edit {
    font-style: italic;}

.base-header {
    display: flex;
    flex-flow: wrap;
    height: 125px;
    line-height: 125px;
    margin: 0px;
    background:
        url("attempt2.png") center,
        linear-gradient(rgba(39, 152, 172, 0.885),rgba(39, 152, 172, 0.57));
    background-size: cover;
    background-repeat: no-repeat;
}

.header-link {
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.base-body {
    display: flex;
    flex-flow: column;
    height: auto;
}

.needscenter {
    text-align: center;
    margin-top: 30px;
}

.login-row {
    margin: 22px;
    border-bottom: 2px solid rgb(154, 154, 154);
    padding-bottom: 2px;
    font-size: 1rem;
    text-align:left;
}

#id_username {
    font-size: .8rem;
}

input {
    border: none;
    background-color: rgba(247, 253, 254, 0.652);
}

input:focus, 
select:focus, 
textarea:focus, 
button:focus {
    outline: none;
    background-color: rgba(247, 253, 254, 0.652);
}

.darkteal {
    color: #002c30;
}

.medteal {
    color: rgb(77, 105, 138);
}

.darkpurple {
    color: rgb(75, 45, 104);
}


.navbarcontainer {
    display: flex;
    flex-direction: row wrap;
    padding: 0;
    line-height: 25px;
 }

.box {
    width: 20%;
    font-size: auto;
    vertical-align: middle;
    margin: 10px;
}

.user_info {
    padding: 2rem;
    color: black;
    font-size: 16px;
    margin-bottom: .5rem;
    margin-top: .5rem;
}

.mediumteal,
.fa-user,
.fa-lock-alt,
.fa-home-lg-alt,
.fa-bars,
.fa-sign-out {
    color: #00474d;
}	    

.landing {
    color: #002c30;
}

p.landingmessage {
    padding: .75rem;
}

.formline {
    margin-bottom: .75rem;
}

.formlinetext::placeholder {
    color: #E6E2E1;
}

.margin15 {
    margin-left: 15%;
}

.marginbottom {
    margin-bottom: 1rem;
}

.hello-message {
    margin-top: 10px;
    font-size: 1.5rem;
    margin-bottom: 0;
}

.login {
    margin-top: 10px;
}

.userprofile-line {
    margin-bottom: 10px;
}

.addprofile {
    color: #B4B3B3;
}


.purple {
    color: #8B4F77;
}

.painchart {
    width: 70%;
}

.needsleft {
    text-align: left;
}

.button, 
.loginbutton {
    background-color: rgb(176, 219, 232);
    -moz-box-shadow:    2px 3px 2px #D9D9D9;
    -webkit-box-shadow: 2px 3px 2px #D9D9D9;
    box-shadow:         2px 3px 2px #D9D9D9;
    color: black;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 1.1rem;
    height: 45px;
    width: 200px;
    margin-bottom: 15px;
    cursor: pointer;
    transition-duration: 0.2s;
    border-radius: 5px;
    outline: 0;
    font-family: 'Raleway';
  }

.button2:hover, 
.loginbutton:hover, 
.surveybutton:hover, 
.tracker-button:hover,
.add-tracker:hover {
    box-shadow: 
        0 8px 10px 0 rgba(0,0,0,0.24),
        0 10px 25px 0 rgba(0,0,0,0.19);
  }

.loginbutton {
    height: 38px;
    width: 100px;
    text-align: center;
    max-height: 38px;
    padding: 1.5px;
    font-size: 1rem;
}

span {
    margin-bottom: 5px;
}

.surveybutton {
    background-color: rgb(176, 219, 232);
    font-size: .9rem;
    -moz-box-shadow:    2px 3px 2px #D9D9D9;
    -webkit-box-shadow: 2px 3px 2px #D9D9D9;
    box-shadow:         2px 3px 2px #D9D9D9;
    color: black;
    padding-left: .5rem;
    padding-right: .5rem;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition-duration: 0.2s;
    border-radius: 5px;
    outline: 0;
    font-family: 'Raleway';

}

.add-member {
    background-color: rgb(204, 238, 195);
    font-size: .75rem;
    -moz-box-shadow:    2px 3px 2px #D9D9D9;
    -webkit-box-shadow: 2px 3px 2px #D9D9D9;
    box-shadow:         2px 3px 2px #D9D9D9;
    color: black;
    padding-left: .5rem;
    padding-right: .5rem;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition-duration: 0.2s;
    border-radius: 5px;
    outline: 0;
    margin-bottom: 1rem;
}

.tracker-button,
.button2 {
    background-color: rgb(176, 219, 232);
    -moz-box-shadow:    2px 3px 2px #D9D9D9;
    -webkit-box-shadow: 2px 3px 2px #D9D9D9;
    box-shadow:         2px 3px 2px #D9D9D9;
    color: black;
    padding: 1rem;
    padding-bottom: 2rem;
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
    height: 45px;
    width: 80%;
    margin-bottom: .30rem;
    cursor: pointer;
    transition-duration: 0.2s;
    border-radius: 5px;
    outline: 0;
}

.add-tracker {
    background-color: rgb(204, 238, 195);
    -moz-box-shadow:    2px 3px 2px #D9D9D9;
    -webkit-box-shadow: 2px 3px 2px #D9D9D9;
    box-shadow:         2px 3px 2px #D9D9D9;
    color: black;
    padding: 1rem;
    padding-bottom: 2rem;
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
    height: 45px;
    width: 80%;
    margin-bottom: .30rem;
    cursor: pointer;
    transition-duration: 0.2s;
    border-radius: 5px;
    outline: 0;
}

.tracker, .member {
    margin-bottom: 5px;
}

.reportpage {
    text-align: left
}

.u-full-width {
    width: 100%;
    box-sizing: border-box; 
}

.smallfont {
    font-size: .5rem;
}

.bold {
    font-weight: bold;
}

.borderbottom {
    border-bottom: 1px solid black;
}

.done {
    margin-top: 0;
}


  @media screen
  and (min-width: 450px) 
  and (max-width: 750px) {

    .base-header {
        display: flex;
        flex-flow: wrap;
        height: 125px;
        line-height: 125px;
        margin: 0px;
        background:
            url("med.png") center,
            linear-gradient(rgba(40, 139, 142, 0.75),rgba(40, 139, 142, 0.20)),
            url("journal2.jpg") center;
        background-size: cover;
        background-repeat: no-repeat;
    }
}

@media screen
and (min-width: 752px) 
and (max-width: 2880px) {

  .base-header {
      display: flex;
      flex-flow: wrap;
      height: 125px;
      line-height: 125px;
      margin: 0px;
      background:
          url("logonewbig2.png") center,
          linear-gradient(rgba(40, 139, 142, 0.75),rgba(40, 139, 142, 0.20)),
          url("journal2.jpg") center;
      background-size: cover;
      background-repeat: no-repeat;
  }
}

disclosure {
    outline: 0;
}

details {
    border-radius: 4px;
    padding: .5em .5em 0;
}

summary {
    font-weight: bold;
    margin: -.5em -.5em 0;
    padding: .5em;
    outline: 0;
}

details[open] {
    padding: .5em;
}

details[open] summary {
    margin-bottom: .5em;
    outline: 0;
}

.aboutus {
    text-align: left;
    padding: 1rem;
}

.aaron {
    width: 320;
    height: 640;
    display: flexbox;
    object-fit: contain;
    align-self: flex-start;
    flex-direction: column;
    align-content: space-between;
}

.chinh {
    max-width: 320;
    max-height: 640;
    display: flexbox;
    object-fit: contain;
    align-self: flex-start;
    flex-direction: column;
}

.craig {
    width: 320;
    height: 640;
    display: flexbox;
    object-fit: contain;
    align-self: flex-start;
    flex-direction: column;
    align-content: space-between;
}

.kasey {
    width: 320;
    height: 640;
    display: flexbox;
    object-fit: contain;
    align-self: flex-start;
    flex-direction: column;
    align-content: space-between;
}