html {
    background:
        linear-gradient(rgba(132, 153, 155, 0.50));
    font-family: 'Raleway';
    text-align: center;
}

h3 {
    margin-bottom: .75rem;
}

h4.smalltext {
    font-size: .85rem;
    margin-top: 0px;
}

a {
    text-decoration: none;
    color: #0A5E5F;
}

li {
    list-style: none;
}

span {
    margin-bottom: 5px;
}

.index-edit {
    font-style: italic;}

.base-header {
    display: flex;
    flex-flow: wrap;
    height: 125px;
    line-height: 125px;
    margin: 0px;
    background:
        url("mobilelogo2.png") center,
        linear-gradient(rgba(39, 152, 172, 0.885),rgba(39, 152, 172, 0.57));
    background-size: cover;
    background-repeat: no-repeat;
}

.header-link {
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.base-body {
    display: flex;
    flex-flow: column;
    height: auto;
}

.needscenter {
    text-align: center;
}

.login-row,
.question {
    margin: 22px;
    border-bottom: 2px solid rgb(154, 154, 154);
    padding-bottom: 2px;
    font-size: 1rem;
    text-align:left;
}

.question {
    border: none;
}



input {
    border: none;
    background-color: rgba(247, 253, 254, 0.652);
    width: auto;
}

input:focus, 
textarea:focus {
    outline: none;
    background-color: transparent;
}

input#id_tracker_name, 
input#id_question_description,
input#id_answer_name {
    width: 100%;
    font-size: .95rem;
}

input#id_answer_name1,
input#id_answer_name2,
input#id_answer_name3,
input#id_current_answer {
    width: 60%;
    font-size: .95rem;
}

input#id_name,
input#id_email {
    width: 70%;
    font-size: .95rem;
    color: #8B4F77;
}
input#id_name::placeholder,
input#id_email::placeholder {
    color: #e2dddd;
}
input#id_username,
input#id_password {
    width: 56%;
    font-size: .95rem;
    color: #8B4F77;
}

textarea#id_current_question {
    border: 2px solid lightgrey;
    font-size: .95rem;
    color: #8B4F77;
}
 input#id_password2 {
  width: 100%;
  font-size: .95rem;
  color: #8B4F77;
}	}

select:focus, 
button:focus {
    outline: none;
}

.darkteal {
    color: #002c30;
}

.medteal {
    color: rgb(77, 105, 138);
}

.darkpurple {
    color: rgb(75, 45, 104);
}


.navbarcontainer {
    display: flex;
    flex-direction: row wrap;
    padding: 0;
    line-height: 25px;
 }

.box {
    width: 20%;
    font-size: auto;
    vertical-align: middle;
    margin: 10px;
}

.user_info {
    color: black;
    font-size: 16px;
    margin-bottom: .5rem;
}

.editprofile {
    padding-top: 2rem;
}


.mediumteal,
.fa-user,
.fa-lock-alt,
.fa-home-lg-alt,
.fa-bars,
.fa-sign-out {
    color: #00474d;
}	    

.landing {
    color: #002c30;
}

p.landingmessage {
    padding: .5rem;
}

.formline {
    margin-bottom: .75rem;
}

.margin15 {
    margin-left: 15%;
}

.marginbottom {
    margin-bottom: 1rem;
}

.margintop {
    margin-top: 0px;
}

.margintop5 {
    margin-top: 5px;
}

.margintop10 {
    margin-top: 10px;
}

.margintoprem {
    margin-top: 1rem;
}

.margintoprem2 {
    margin-top: 2rem;
}

.hello-message {
    margin-top: 10px;
    font-size: 1.5rem;
    margin-bottom: 0;
}

.login {
    margin-top: 10px;
}

.userprofile-line {
    margin-bottom: 10px;
}

.helptext {
    color: rgb(159, 159, 159);
}

.medgray {
    color: rgb(57, 93, 101);
}


.purple {
    color: #8B4F77;
}

.painchart {
    width: 70%;
}

.needsleft {
    text-align: left;
}

.paginated {
    margin-left: .2rem;
}

.trash {
    font-size: .75rem;
    margin-left: .50rem;
}

.question {
    font-size: 1rem;
}

.button, 
.loginbutton {
    background-color: rgb(176, 219, 232);
    -moz-box-shadow:    2px 3px 2px #D9D9D9;
    -webkit-box-shadow: 2px 3px 2px #D9D9D9;
    box-shadow:         2px 3px 2px #D9D9D9;
    color: black;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 1.1rem;
    height: 45px;
    width: 200px;
    margin-bottom: 15px;
    cursor: pointer;
    transition-duration: 0.2s;
    border-radius: 5px;
    outline: 0;
    font-family: 'Raleway';
  }

.button2:hover, 
.loginbutton:hover, 
.surveybutton:hover, 
.tracker-button:hover, {
    box-shadow: 
        0 8px 10px 0 rgba(0,0,0,0.24),
        0 10px 25px 0 rgba(0,0,0,0.19);
  }

.loginbutton {
    height: 38px;
    width: 100px;
    text-align: center;
    max-height: 38px;
    padding: 1.5px;
    font-size: 1rem;
}

.surveybutton {
    background-color: rgb(176, 219, 232);
    font-size: .9rem;
    -moz-box-shadow:    2px 3px 2px #D9D9D9;
    -webkit-box-shadow: 2px 3px 2px #D9D9D9;
    box-shadow:         2px 3px 2px #D9D9D9;
    color: black;
    padding-left: .5rem;
    padding-right: .5rem;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition-duration: 0.2s;
    border-radius: 5px;
    outline: 0;
    font-family: 'Raleway';

}

.tracker-button,
.button2 {
    background-color: rgb(176, 219, 232);
    -moz-box-shadow:    2px 3px 2px #D9D9D9;
    -webkit-box-shadow: 2px 3px 2px #D9D9D9;
    box-shadow:         2px 3px 2px #D9D9D9;
    color: black;
    padding: 1rem;
    padding-bottom: 2rem;
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
    height: 45px;
    width: 80%;
    margin-bottom: .30rem;
    cursor: pointer;
    transition-duration: 0.2s;
    border-radius: 5px;
    outline: 0;
}

.add-tracker {
    background-color: rgb(204, 238, 195);
    -moz-box-shadow:    2px 3px 2px #D9D9D9;
    -webkit-box-shadow: 2px 3px 2px #D9D9D9;
    box-shadow:         2px 3px 2px #D9D9D9;
    color: black;
    padding: 1rem;
    padding-bottom: 2rem;
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
    height: 45px;
    width: 80%;
    margin-bottom: .30rem;
    cursor: pointer;
    transition-duration: 0.2s;
    border-radius: 5px;
    outline: 0;
}

.cancel {
    background-color: #EDEAe5;
}

.clicked {
    background-color: rgb(169, 168, 167);
}

.delete {
    background-color: rgb(205, 180, 205);
}

.tracker, .member {
    margin-bottom: 5px;
}

.reportpage {
    text-align: left
}

.u-full-width {
    width: 100%;
    box-sizing: border-box; 
}

.smallfont {
    font-size: .5rem;
}

.medfont {
    font-size: .85rem;
}

.largefont {
    font-size: 1.25rem;
}

.summary {
    text-indent: 2em;
}

.bold {
    font-weight: bold;
}

.black {
    color: black;
}

.borderbottom {
    border-bottom: 1px solid black;
}

.done {
    margin-top: 2px;
}

.trackername {
    width: 40%;
    text-align: left;
}

.column {
    width: 20%;
}

.tableheader {
    font-size: .85rem;
}

.instance {
    width: 40%;
}

.date_instance {
    width: 60%;
    font-size: 90%;
}

.history {
    padding-top: 0;
    padding-bottom: .25rem;
    width: 100%;
}

.left {
    margin-left: .2rem;
}

.margin10 {
    margin-left: 10%;
    margin-right: 10%;
}

.answer {
    text-align: left;

}
.left {
    text-align: left;
    
}
.us {
    font-style: italic;
    text-align: center;
    color: #0A5E5F;

}

.question {
    font-weight: bolder;
    text-align: center;
    margin-top: 2rem;
    
}
@media screen
  and (min-width: 320px) 
  and (max-width: 370px) {

    .blurb {
        padding: 1rem;
    }
}



  @media screen
  and (min-width: 371px) 
  and (max-width: 549px) {

    .base-header {
        display: flex;
        flex-flow: wrap;
        height: 125px;
        line-height: 125px;
        margin: 0px;
        background:
            url("medlogo.png") center,
            linear-gradient(rgba(39, 152, 172, 0.885),rgba(39, 152, 172, 0.57));
        background-size: cover;
        background-repeat: no-repeat;
    }

    .blurb {
        padding: 1.5rem;
    }

    .loginbody {
        padding: 1.5rem;
        padding-top: 2rem;
    }
}

@media screen
and (min-width: 550px) 
and (max-width: 690px) {

  .base-header {
      display: flex;
      flex-flow: wrap;
      height: 125px;
      line-height: 125px;
      margin: 0px;
      background:
          url("med2logo.png") center,
          linear-gradient(rgba(39, 152, 172, 0.885),rgba(39, 152, 172, 0.57));
      background-size: cover;
      background-repeat: no-repeat;
  }
}

@media screen
and (min-width: 691px) 
and (max-width: 850px) {

  .base-header {
      display: flex;
      flex-flow: wrap;
      height: 125px;
      line-height: 125px;
      margin: 0px;
      background:
          url("large2logo.png") center,
          linear-gradient(rgba(39, 152, 172, 0.885),rgba(39, 152, 172, 0.57));
      background-size: cover;
      background-repeat: no-repeat;
  }

  .navbarcontainer {
    display: flex;
    flex-direction: row wrap;
    padding: 1rem;
    }

    .box {
        width: 20%;
        font-size: 1.5rem;
        vertical-align: middle;
        margin: 1rem;
    }

}

@media screen
and (min-width: 851px) 
and (max-width: 1023px) {

  .base-header {
    display: flex;
    flex-flow: wrap;
    height: 125px;
    line-height: 125px;
    margin: 0px;
    background:
        url("largeipad.png") center,
        linear-gradient(rgba(39, 152, 172, 0.885),rgba(39, 152, 172, 0.57));
    background-size: cover;
    background-repeat: no-repeat;
    }

    .navbarcontainer {
        display: flex;
        flex-direction: row wrap;
        padding: 1.5rem;
        }
    
    .box {
        width: 20%;
        font-size: 1.75rem;
        vertical-align: middle;
        margin: 1rem;
    }
}

@media screen
and (min-width: 1024px) 
and (max-width: 1400px) {

  .base-header {
    display: flex;
    flex-flow: wrap;
    height: 125px;
    line-height: 125px;
    margin: 0px;
    background:
        url("largeipadflip.png") center,
        linear-gradient(rgba(39, 152, 172, 0.885),rgba(39, 152, 172, 0.57));
    background-size: cover;
    background-repeat: no-repeat;
    }

    .navbarcontainer {
        display: flex;
        flex-direction: row wrap;
        padding: 1.5rem;
        }
    
    .box {
        width: 20%;
        font-size: 1.75rem;
        vertical-align: middle;
        margin: 1rem;
    }
}

@media screen
and (min-width: 1401px) 
and (max-width: 2884px) {

  .base-header {
    display: flex;
    flex-flow: wrap;
    height: 125px;
    line-height: 125px;
    margin: 0px;
    background:
        url("largeipadflip.png") center,
        linear-gradient(rgba(39, 152, 172, 0.885),rgba(39, 152, 172, 0.57));
    background-size: cover;
    background-repeat: no-repeat;
    }
}

disclosure {
    outline: 0;
}

details {
    border-radius: 4px;
    padding: .5em .5em 0;
}

summary {
    font-weight: bold;
    margin: -.5em -.5em 0;
    padding: .5em;
    outline: 0;
}

details[open] {
    padding: .5em;
}

details[open] summary {
    margin-bottom: .5em;
    outline: 0;
}

.aboutus {
    text-align: left;
    padding: 1rem;
}

.summary {
    text-align: center;
}