html {
    background:
        linear-gradient(rgba(132, 153, 155, 0.50));
    font-family: 'Raleway';
}

.base-header {
    display: flex;
    flex-flow: wrap;
    height: 125px;
    line-height: 125px;
    margin: 0px;
    background:
        url("smalllogo.png") center,
        linear-gradient(rgba(40, 139, 142, 0.75),rgba(40, 139, 142, 0.20)),
        url("journal2.jpg") center;
    background-size: cover;
    background-repeat: no-repeat;
}


a {
    text-decoration: none;
    color: #0A5E5F;
}

.header-link {
    /* background:
        url("shutterstock_659375407_copy.jpg") center; */
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.base-body {
    display: flex;
    flex-flow: column;
    height: auto;
}

.loginsection, .welcome {
    text-align: center;
} 


.user_info {
    text-align: center;
    padding: 2rem;
    color: black;
    font-size: 16px;
    margin: auto;
}

.landing {
    text-align: center;
    color: #026670;
}

.login {
    margin-top: 10px;
}


.button {
    background-color: #83C7DC;
    -moz-box-shadow:    2px 3px 2px #D9D9D9;
    -webkit-box-shadow: 2px 3px 2px #D9D9D9;
    box-shadow:         2px 3px 2px #D9D9D9;
    color: #052e3e;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    text-shadow: .5px .5px .5px rgba(40, 68, 89, 0.474);
    font-size: 1rem;
    height: 45px;
    width: 200px;
    margin-bottom: 15px;
    cursor: pointer;
    transition-duration: 0.2s;
    border-radius: 9px;
    outline: 0;
  }

.button2:hover {
    box-shadow: 
        0 8px 10px 0 rgba(0,0,0,0.24),
        0 10px 25px 0 rgba(0,0,0,0.19);
  }

.logout-message {
    text-align: center;
}

  @media screen
  and (min-width: 500px) 
  and (max-width: 1100px) {

    .base-header {
        display: flex;
        flex-flow: wrap;
        height: 125px;
        line-height: 125px;
        margin: 0px;
        background:
            url("med.png") center,
            linear-gradient(rgba(40, 139, 142, 0.75),rgba(40, 139, 142, 0.20)),
            url("journal2.jpg") center;
        background-size: cover;
        background-repeat: no-repeat;
    }
}

@media screen
and (min-width: 1101px) 
and (max-width: 2880px) {

  .base-header {
      display: flex;
      flex-flow: wrap;
      height: 125px;
      line-height: 125px;
      margin: 0px;
      background:
          url("logonewbig2.png") center,
          linear-gradient(rgba(40, 139, 142, 0.75),rgba(40, 139, 142, 0.20)),
          url("journal2.jpg") center;
      background-size: cover;
      background-repeat: no-repeat;
  }
}

